sem2/HSCD/sysc-lights/BITS/@_opt/
sem2/HSCD/sysc-lights/BITS/_lib.qdb
sem2/HSCD/sysc-lights/BITS/_lib1_0.qdb
sem2/HSCD/sysc-lights/BITS/_lib1_0.qpg
sem2/HSCD/sysc-lights/BITS/_lib1_0.qtl
sem2/HSCD/sysc-lights/BITS/_opt__lock
sem2/HSCD/sysc-lights/BITS/_sc/
sem2/HSCD/sysc-lights/sysc-lights.cr.mti
sem2/HSCD/sysc-lights/vsim.wlf
__pycache__
